## 01. Import libraries

In [2]:
# Import libraries 

import pandas as pd
import numpy as np
import os

## 02. Create file path

In [4]:
# Turn main project folder into path

path = r"C:\Users\alope\Downloads\Case Study AirBnB"

In [5]:
# Check output
path

'C:\\Users\\alope\\Downloads\\Case Study AirBnB'

## 03. Import datasets

In [7]:
# Import NY AirBnB files

listing_csv = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'listings.csv'))

In [8]:
listing_csv.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,NaN,30,49,2022-06-21,0.28,3,300,0,NaN
1,5136,Spacious Family Friendly Duplex w/ Patio + Yard,7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,215.0,30,4,2023-08-20,0.03,1,71,1,NaN
2,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70935,-73.95342,Entire home/apt,81.0,30,193,2024-05-18,1.05,1,193,3,NaN
3,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kae,Manhattan,East Harlem,40.80107,-73.94255,Private room,65.0,30,1,2022-06-05,0.04,2,365,0,NaN
4,6990,UES Beautiful Blue Room,16800,Cyn,Manhattan,East Harlem,40.78778,-73.94759,Private room,65.0,30,247,2024-03-06,1.38,1,212,2,NaN

In [9]:
listing_csv.shape

(37765, 18)

In [10]:
review_csv = pd.read_csv(os.path.join(path,'02 Data', 'Original Data','reviews.csv'))

In [11]:
review_csv.head()

   listing_id        date
0        2595  2009-11-21
1        2595  2009-12-05
2        2595  2009-12-10
3        2595  2010-04-09
4        2595  2010-05-25

In [12]:
review_csv.shape

(940310, 2)

In [13]:
calendar_csv = pd.read_csv(os.path.join(path,'02 Data', 'Original Data','calendar_gz.csv'))

C:\Users\alope\AppData\Local\Temp\ipykernel_12100\2761307880.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  calendar_csv = pd.read_csv(os.path.join(path,'02 Data', 'Original Data','calendar_gz.csv'))

In [14]:
calendar_csv.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2595,2024-07-06,t,$225.00,NaN,30.0,1125.0
1,2595,2024-07-07,t,$225.00,NaN,30.0,1125.0
2,2595,2024-07-08,t,$225.00,NaN,30.0,1125.0
3,2595,2024-07-09,t,$225.00,NaN,30.0,1125.0
4,2595,2024-07-10,t,$225.00,NaN,30.0,1125.0

In [15]:
calendar_csv.shape

(13783864, 7)

In [16]:
listing_gz = pd.read_csv(os.path.join(path,'02 Data', 'Original Data','listing_gz.csv'))

In [17]:
listing_gz.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,20240705150938,2024-07-06,city scrape,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,https://a0.muscache.com/pictures/miso/Hosting-...,2845,...,4.80,4.81,4.40,NaN,f,3,3,0,0,0.28
1,5136,https://www.airbnb.com/rooms/5136,20240705150938,2024-07-05,city scrape,Spacious Family Friendly Duplex w/ Patio + Yard,"We welcome you to stay in our lovely 2 br, 130...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,7378,...,5.00,4.75,4.75,NaN,t,1,1,0,0,0.03
2,6848,https://www.airbnb.com/rooms/6848,20240705150938,2024-07-06,city scrape,Only 2 stops to Manhattan studio,Comfortable studio apartment with super comfor...,NaN,https://a0.muscache.com/pictures/e4f031a7-f146...,15991,...,4.80,4.68,4.57,NaN,f,1,1,0,0,1.05
3,6872,https://www.airbnb.com/rooms/6872,20240705150938,2024-07-05,city scrape,Uptown Sanctuary w/ Private Bath (Month to Month),A charming month-to-month home away from home ...,This sweet Harlem sanctuary is a 10-20 minute ...,https://a0.muscache.com/pictures/miso/Hosting-...,16104,...,5.00,5.00,5.00,NaN,f,2,0,2,0,0.04
4,6990,https://www.airbnb.com/rooms/6990,20240705150938,2024-07-06,city scrape,UES Beautiful Blue Room,Beautiful peaceful healthy home,"Location: Five minutes to Central Park, Museum...",https://a0.muscache.com/pictures/be6cd5b3-9295...,16800,...,4.95,4.85,4.84,NaN,f,1,0,1,0,1.38

In [18]:
listing_gz.shape

(37765, 75)

In [19]:
review_gz = pd.read_csv(os.path.join(path,'02 Data', 'Original Data','review_gz.csv'))

In [20]:
review_gz.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2595,17857,2009-11-21,50679,Jean,Notre séjour de trois nuits.\r<br/>Nous avons ...
1,2595,19176,2009-12-05,53267,Cate,Great experience.
2,2595,19760,2009-12-10,38960,Anita,I've stayed with my friend at the Midtown Cast...
3,2595,34320,2010-04-09,71130,Kai-Uwe,"We've been staying here for about 9 nights, en..."
4,2595,46312,2010-05-25,117113,Alicia,We had a wonderful stay at Jennifer's charming...

In [21]:
hoods_csv = pd.read_csv(os.path.join(path,'02 Data', 'Original Data','neighbourhoods.csv'))

In [22]:
import geopandas as gpd

In [23]:
geo_data = gpd.read_file(os.path.join(path,'02 Data', 'Original Data','neighbourhoods_geo.geojson'))

In [24]:
geo_data.head()

,neighbourhood,neighbourhood_group,geometry
0,Bayswater,Queens,"MULTIPOLYGON (((-73.76671 40.61491, -73.76825 ..."
1,Allerton,Bronx,"MULTIPOLYGON (((-73.8486 40.87167, -73.84582 4..."
2,City Island,Bronx,"MULTIPOLYGON (((-73.78282 40.84392, -73.78257 ..."
3,Ditmars Steinway,Queens,"MULTIPOLYGON (((-73.9016 40.76777, -73.90391 4..."
4,Ozone Park,Queens,"MULTIPOLYGON (((-73.83754 40.69136, -73.83108 ..."

In [25]:
geo_data.shape

(233, 3)

## 04. Clean listing.csv
### Check for duplicates, mixed data types, and explore missing values

In [27]:
# Check for duplicate rows in listing.csv
duplicates = listing_csv[listing_csv.duplicated()]

# Display the duplicate rows
print(duplicates)

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, number_of_reviews_ltm, license]
Index: []

In [28]:
# Check for mixed data types in listing.csv
for col in listing_csv.columns.tolist():
  weird = (listing_csv[[col]].applymap(type) != listing_csv[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (listing_csv[weird]) > 0:
    print (col)

name
host_name

C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1751144654.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_csv[[col]].applymap(type) != listing_csv[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1751144654.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_csv[[col]].applymap(type) != listing_csv[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1751144654.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_csv[[col]].applymap(type) != listing_csv[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1751144654.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_csv[[col]].applymap(type) != listing_csv[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1751144654.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_csv[[col]].applymap(type) != listing_csv[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1751144654.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_csv[[col]].applymap(type) != listing_csv[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1751144654.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_csv[[col]].applymap(type) != listing_csv[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1751144654.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_csv[[col]].applymap(type) != listing_csv[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1751144654.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_csv[[col]].applymap(type) != listing_csv[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1751144654.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_csv[[col]].applymap(type) != listing_csv[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1751144654.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_csv[[col]].applymap(type) != listing_csv[[col]].iloc[0].apply(type)).any(axis = 1)

last_review
license

C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1751144654.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_csv[[col]].applymap(type) != listing_csv[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1751144654.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_csv[[col]].applymap(type) != listing_csv[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1751144654.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_csv[[col]].applymap(type) != listing_csv[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1751144654.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_csv[[col]].applymap(type) != listing_csv[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1751144654.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_csv[[col]].applymap(type) != listing_csv[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1751144654.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_csv[[col]].applymap(type) != listing_csv[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1751144654.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_csv[[col]].applymap(type) != listing_csv[[col]].iloc[0].apply(type)).any(axis = 1)

In [29]:
# Explore returned columns for mixed data types
columns_to_check = ['name','host_name','last_review', 'license']  

# Loop through each specified column
for col in columns_to_check:
    # Get the types of each entry in the column
    column_types = listing_csv[col].apply(type)
    
    # Filter rows with mixed types by comparing each entry's type to the type of the first entry
    mixed_data = listing_csv[column_types != column_types.iloc[0]]
    
    # Display the mixed data for the current column if any mixed types are found
    if not mixed_data.empty:
        print(f"Mixed data in column '{col}':")
        # Print the unique mixed data values in a compact format
        print(mixed_data[col].unique())  # Print unique values for readability

Mixed data in column 'name':
[nan]
Mixed data in column 'host_name':
[nan]
Mixed data in column 'last_review':
[nan]
Mixed data in column 'license':
['OSE-STRREG-0000008' 'OSE-STRREG-0000923' 'OSE-STRREG-0000108' ...
 'OSE-STRREG-0002335' 'OSE-STRREG-0002279' 'OSE-STRREG-0002321']

In [30]:
# Specify the column you want to inspect (e.g., 'name')
column_to_inspect = 'name'

# Find rows where the data type is 'float' in the specified column
float_rows =listing_csv[listing_csv[column_to_inspect].apply(lambda x: isinstance(x, float))]

# Display the rows with float data types
print(f"Rows in column '{column_to_inspect}' with float data types:")
print(float_rows)

Rows in column 'name' with float data types:
            id name    host_id host_name neighbourhood_group neighbourhood  \
5538  10116081  NaN   51913270    Andrew           Manhattan       Midtown
9666  21044649  NaN  151547086     Tanya               Bronx       Norwood

      latitude  longitude        room_type  price  minimum_nights  \
5538  40.75939  -73.96949  Entire home/apt    NaN              30
9666  40.87553  -73.88601     Private room    NaN              30

      number_of_reviews last_review  reviews_per_month  \
5538                  0         NaN                NaN
9666                 23  2021-03-25               0.34

      calculated_host_listings_count  availability_365  number_of_reviews_ltm  \
5538                               1                 0                      0
9666                               1                 0                      0

     license
5538     NaN
9666     NaN

In [31]:
# Drop rows since they are also both missing prices
 
# Find two rows to drop
rows_to_drop = listing_csv[listing_csv[column_to_inspect].apply(lambda x: isinstance(x, float))].index

# Drop the rows with float data types
listing_csv_cleaned = listing_csv.drop(rows_to_drop)

# Optionally reset the index if you want a clean index after dropping
listing_csv_cleaned = listing_csv_cleaned.reset_index(drop=True)

# Check output
listing_csv_cleaned.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,NaN,30,49,2022-06-21,0.28,3,300,0,NaN
1,5136,Spacious Family Friendly Duplex w/ Patio + Yard,7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,215.0,30,4,2023-08-20,0.03,1,71,1,NaN
2,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70935,-73.95342,Entire home/apt,81.0,30,193,2024-05-18,1.05,1,193,3,NaN
3,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kae,Manhattan,East Harlem,40.80107,-73.94255,Private room,65.0,30,1,2022-06-05,0.04,2,365,0,NaN
4,6990,UES Beautiful Blue Room,16800,Cyn,Manhattan,East Harlem,40.78778,-73.94759,Private room,65.0,30,247,2024-03-06,1.38,1,212,2,NaN

In [32]:
# Find the number of missing values in each column
missing_values = listing_csv_cleaned.isnull().sum()

# Filter out columns with no missing values
missing_values = missing_values[missing_values > 0]

# Print the columns with missing values and the count of missing values
print("Columns with missing values:")
print(missing_values)

# Optionally, you can also print the percentage of missing values
missing_percentage = (listing_csv_cleaned.isnull().mean() * 100).round(2)
missing_percentage = missing_percentage[missing_percentage > 0]

print("\nPercentage of missing values in each column:")
print(missing_percentage)

Columns with missing values:
host_name                5
price                14719
last_review          11750
reviews_per_month    11750
license              32592
dtype: int64

Percentage of missing values in each column:
host_name             0.01
price                38.98
last_review          31.12
reviews_per_month    31.12
license              86.31
dtype: float64

In [33]:
# Drop the 'license' column from the DataFrame
listing_csv_cleaned = listing_csv_cleaned.drop(columns=['license'])

# Display the updated DataFrame to confirm the column has been dropped
listing_csv_cleaned.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,NaN,30,49,2022-06-21,0.28,3,300,0
1,5136,Spacious Family Friendly Duplex w/ Patio + Yard,7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,215.0,30,4,2023-08-20,0.03,1,71,1
2,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70935,-73.95342,Entire home/apt,81.0,30,193,2024-05-18,1.05,1,193,3
3,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kae,Manhattan,East Harlem,40.80107,-73.94255,Private room,65.0,30,1,2022-06-05,0.04,2,365,0
4,6990,UES Beautiful Blue Room,16800,Cyn,Manhattan,East Harlem,40.78778,-73.94759,Private room,65.0,30,247,2024-03-06,1.38,1,212,2

### Address missing values in 'prices'
#### There are 38.98% of prices are missing from listings. As this is a key variable, the missing variables will be input using the mean price of the listing's respective neighborhood.

In [35]:
# Calculate the mean price for each neighborhood
neighborhood_avg_prices = listing_csv_cleaned.groupby('neighbourhood')['price'].mean()

# Replace missing prices with the average price of the respective neighborhood
listing_csv_cleaned['price'] = listing_csv_cleaned.apply(
    lambda row: neighborhood_avg_prices[row['neighbourhood']] if pd.isnull(row['price']) else row['price'],
    axis=1
)

# Display the first few rows to confirm the changes
listing_csv_cleaned.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,394.96902,30,49,2022-06-21,0.28,3,300,0
1,5136,Spacious Family Friendly Duplex w/ Patio + Yard,7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,215.00000,30,4,2023-08-20,0.03,1,71,1
2,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70935,-73.95342,Entire home/apt,81.00000,30,193,2024-05-18,1.05,1,193,3
3,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kae,Manhattan,East Harlem,40.80107,-73.94255,Private room,65.00000,30,1,2022-06-05,0.04,2,365,0
4,6990,UES Beautiful Blue Room,16800,Cyn,Manhattan,East Harlem,40.78778,-73.94759,Private room,65.00000,30,247,2024-03-06,1.38,1,212,2

In [36]:
# Check for missing values in the 'price' column
missing_price = listing_csv_cleaned['price'].isnull().sum()

# Display the result
print(f"Number of missing values in 'price' column: {missing_price}")

Number of missing values in 'price' column: 1

In [37]:
# Filter to show rows where 'price' is NaN
missing_price_rows = listing_csv_cleaned[listing_csv_cleaned['price'].isnull()]

# Display the rows with missing values in 'price'
print(missing_price_rows)

             id                  name   host_id host_name neighbourhood_group  \
10795  23597323  Staten Island Studio  99270668    Joseph       Staten Island

      neighbourhood  latitude  longitude        room_type  price  \
10795      New Dorp  40.56853  -74.11843  Entire home/apt    NaN

       minimum_nights  number_of_reviews last_review  reviews_per_month  \
10795              30                  0         NaN                NaN

       calculated_host_listings_count  availability_365  number_of_reviews_ltm
10795                               1                 0                      0

In [38]:
# Calculate the average price for properties in 'New Dorp'
average_price_new_dorp = listing_csv_cleaned[listing_csv_cleaned['neighbourhood'] == 'New Dorp']['price'].mean()

# Replace the missing value in 'price' with the calculated average price
listing_csv_cleaned['price'] = listing_csv_cleaned['price'].fillna(average_price_new_dorp)

# Check output
print(listing_csv_cleaned[listing_csv_cleaned['neighbourhood'] == 'New Dorp'].head())

             id                  name   host_id host_name neighbourhood_group  \
10795  23597323  Staten Island Studio  99270668    Joseph       Staten Island

      neighbourhood  latitude  longitude        room_type  price  \
10795      New Dorp  40.56853  -74.11843  Entire home/apt    NaN

       minimum_nights  number_of_reviews last_review  reviews_per_month  \
10795              30                  0         NaN                NaN

       calculated_host_listings_count  availability_365  number_of_reviews_ltm
10795                               1                 0                      0

In [39]:
# Filter to show all listings in 'New Dorp'
new_dorp_listings = listing_csv_cleaned[listing_csv_cleaned['neighbourhood'] == 'New Dorp']

# Display the listings in New Dorp
print(new_dorp_listings)

             id                  name   host_id host_name neighbourhood_group  \
10795  23597323  Staten Island Studio  99270668    Joseph       Staten Island

      neighbourhood  latitude  longitude        room_type  price  \
10795      New Dorp  40.56853  -74.11843  Entire home/apt    NaN

       minimum_nights  number_of_reviews last_review  reviews_per_month  \
10795              30                  0         NaN                NaN

       calculated_host_listings_count  availability_365  number_of_reviews_ltm
10795                               1                 0                      0

In [40]:
# Drop rows where the neighbourhood is 'New Dorp'
listing_csv_cleaned = listing_csv_cleaned[listing_csv_cleaned['neighbourhood'] != 'New Dorp']

# Check output
listing_csv_cleaned.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,394.96902,30,49,2022-06-21,0.28,3,300,0
1,5136,Spacious Family Friendly Duplex w/ Patio + Yard,7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,215.00000,30,4,2023-08-20,0.03,1,71,1
2,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70935,-73.95342,Entire home/apt,81.00000,30,193,2024-05-18,1.05,1,193,3
3,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kae,Manhattan,East Harlem,40.80107,-73.94255,Private room,65.00000,30,1,2022-06-05,0.04,2,365,0
4,6990,UES Beautiful Blue Room,16800,Cyn,Manhattan,East Harlem,40.78778,-73.94759,Private room,65.00000,30,247,2024-03-06,1.38,1,212,2

In [41]:
# Round the 'price' col to 2 decimal points
listing_csv_cleaned['price'] = listing_csv_cleaned['price'].round(2)

# Check output
listing_csv_cleaned[['price']].head()

    price
0  394.97
1  215.00
2   81.00
3   65.00
4   65.00

In [42]:
# Explore missing reiviews rows
# Filter to show rows where 'reviews_per_month' or 'last_review' is NaN
missing_reviews_rows = listing_csv_cleaned[listing_csv_cleaned['reviews_per_month'].isnull() | listing_csv_cleaned['last_review'].isnull()]

# Display the rows with missing values in 'reviews_per_month' and 'last_review'
missing_reviews_rows

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
11,11943,Country space in the city,45445,Harriet,Brooklyn,Flatbush,40.637020,-73.963270,Private room,133.48,30,0,NaN,NaN,1,0,0
66,45935,Room in Beautiful Townhouse.,204586,L,Bronx,Mott Haven,40.806350,-73.922010,Private room,60.00,30,0,NaN,NaN,1,83,0
71,51438,1 Bedroom in 2 Bdrm Apt- Upper East,236421,Jessica,Manhattan,Upper East Side,40.774490,-73.953080,Private room,278.20,30,0,NaN,NaN,2,0,0
76,54466,Beautiful Uptown Manhattan apartmnt,253385,Douglas,Manhattan,Harlem,40.802550,-73.958030,Private room,200.00,30,0,NaN,NaN,1,365,0
102,63588,LL3,295128,Carol Gloria,Bronx,Clason Point,40.811610,-73.854990,Private room,89.00,30,0,NaN,NaN,6,15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37758,1192946306020922085,Private Studio in Brooklyn,137493949,Sydney,Brooklyn,Clinton Hill,40.684009,-73.967850,Entire home/apt,95.00,30,0,NaN,NaN,1,37,0
37759,1193005542763264121,Skyline Views from MSG Penthouse,559434422,Luis,Manhattan,Chelsea,40.751493,-73.996157,Entire home/apt,599.00,30,0,NaN,NaN,1,269,0
37760,1193016130087171760,Stunning designer Chelsea studio on the best b...,35491667,Nat,Manhattan,Chelsea,40.741720,-74.002750,Entire home/apt,75.00,30,0,NaN,NaN,80,242,0
37761,1193068036013405081,Sunny & Spacious in Queens,20380663,Anastasios,Queens,Elmhurst,40.731090,-73.878070,Entire home/apt,96.00,30,0,NaN,NaN,2,365,0
37762,1193086058992851452,Bright 2 Bedroom in Astoria,910709,Israel,Queens,Ditmars Steinway,40.776915,-73.907386,Entire home/apt,225.00,30,0,NaN,NaN,1,33,0

In [43]:
# Filter to show rows where 'reviews_per_month' or 'last_review' is NaN
missing_reviews_rows = listing_csv_cleaned[listing_csv_cleaned['reviews_per_month'].isnull() | listing_csv_cleaned['last_review'].isnull()]

# Display up to 100 rows with missing values in 'reviews_per_month' and 'last_review'
missing_reviews_rows.head(100)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
11,11943,Country space in the city,45445,Harriet,Brooklyn,Flatbush,40.63702,-73.96327,Private room,133.48,30,0,NaN,NaN,1,0,0
66,45935,Room in Beautiful Townhouse.,204586,L,Bronx,Mott Haven,40.80635,-73.92201,Private room,60.00,30,0,NaN,NaN,1,83,0
71,51438,1 Bedroom in 2 Bdrm Apt- Upper East,236421,Jessica,Manhattan,Upper East Side,40.77449,-73.95308,Private room,278.20,30,0,NaN,NaN,2,0,0
76,54466,Beautiful Uptown Manhattan apartmnt,253385,Douglas,Manhattan,Harlem,40.80255,-73.95803,Private room,200.00,30,0,NaN,NaN,1,365,0
102,63588,LL3,295128,Carol Gloria,Bronx,Clason Point,40.81161,-73.85499,Private room,89.00,30,0,NaN,NaN,6,15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1375,2142092,"Furnished room - W. 181 St. by A, 1",8280182,Alejandro,Manhattan,Washington Heights,40.85098,-73.93664,Private room,131.58,30,0,NaN,NaN,1,0,0
1377,2149184,Super Bowl Rental 2BR in Soho,7363831,Garrett,Manhattan,Greenwich Village,40.72786,-74.00149,Entire home/apt,424.72,30,0,NaN,NaN,1,0,0
1378,2150727,1500 sq ft apt sleeps 8 - SuperBowl,5579700,Steve,Manhattan,Gramercy,40.73545,-73.98238,Entire home/apt,231.92,30,0,NaN,NaN,1,0,0
1379,2151259,Superbowl Studio Upper West Side,10263977,A,Manhattan,Upper West Side,40.79773,-73.96173,Entire home/apt,287.11,30,0,NaN,NaN,1,0,0
1385,2158171,Luxury NYC Studio for Super Bowl 48,11012889,Judy,Manhattan,Financial District,40.70451,-74.00671,Entire home/apt,377.59,30,0,NaN,NaN,1,0,0

#### These listings have likely never been reviewed. They may be new listings; it may also be worth adding to the analysis if there are any distinctions in which places or hosts recieve reviews and which do not.

In [45]:
listing_csv_cleaned.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                             float64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
dtype: object

In [46]:
# Convert specified columns to string type
listing_csv_cleaned['id'] = listing_csv_cleaned['id'].astype(str)  # Change 'id' to string
listing_csv_cleaned['host_id'] = listing_csv_cleaned['host_id'].astype(str)  # Change 'host_id' to string

# Convert 'last_review' to datetime type
listing_csv_cleaned['last_review'] = pd.to_datetime(listing_csv_cleaned['last_review'], errors='coerce')  # Change 'last_review' to date

In [47]:
listing_csv_cleaned.dtypes

id                                        object
name                                      object
host_id                                   object
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
number_of_reviews_ltm                      int64
dtype: object

## 05. Clean review_csv

In [49]:
review_csv.shape

(940310, 2)

In [50]:
review_csv.head()

   listing_id        date
0        2595  2009-11-21
1        2595  2009-12-05
2        2595  2009-12-10
3        2595  2010-04-09
4        2595  2010-05-25

In [51]:
# Check for duplicates in review.csv
duplicate_count_2 = review_csv.duplicated().sum()  # Count the number of duplicate rows

# Display number of duplicates
print(f"Number of duplicate rows: {duplicate_count_2}")

Number of duplicate rows: 16700

In [52]:
# Show duplicate rows in review.csv
duplicate_rows = review_csv[review_csv.duplicated(keep=False)]  # Keep all duplicates

# Display duplicate rows
duplicate_rows

                 listing_id        date
873                  209310  2016-07-22
876                  209310  2016-07-22
943                  209310  2016-09-21
944                  209310  2016-09-21
948                  209310  2016-10-03
...                     ...         ...
940299  1158050754810813342  2024-06-30
940300  1158050754810813342  2024-06-30
940301  1158050754810813342  2024-06-30
940302  1158050754810813342  2024-07-01
940303  1158050754810813342  2024-07-01

[25826 rows x 2 columns]

In [53]:
# Drop duplicate rows 
review_csv_cleaned = review_csv.drop_duplicates()  # This creates a new DataFrame without duplicates

# Display the number of rows after dropping duplicates
print(f"Number of rows after dropping duplicates: {len(review_csv_cleaned)}")

Number of rows after dropping duplicates: 923610

In [54]:
# Check for missing values
missing_values = review_csv_cleaned.isnull().sum()

In [55]:
missing_values

listing_id    0
date          0
dtype: int64

In [56]:
review_csv_cleaned.dtypes

listing_id     int64
date          object
dtype: object

In [57]:
# Change listing_id to string
review_csv_cleaned['listing_id'] = review_csv_cleaned['listing_id'].astype(str)

# Change date to datetime
review_csv_cleaned['date'] = pd.to_datetime(review_csv_cleaned['date'])

C:\Users\alope\AppData\Local\Temp\ipykernel_12100\3500786545.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review_csv_cleaned['listing_id'] = review_csv_cleaned['listing_id'].astype(str)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\3500786545.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review_csv_cleaned['date'] = pd.to_datetime(review_csv_cleaned['date'])

In [58]:
review_csv_cleaned.dtypes

listing_id            object
date          datetime64[ns]
dtype: object

In [59]:
# Check for mixed data types
for col in review_csv_cleaned.columns.tolist():
  weird = (review_csv_cleaned[[col]].applymap(type) != review_csv_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (review_csv_cleaned[weird]) > 0:
    print (col)

C:\Users\alope\AppData\Local\Temp\ipykernel_12100\4112330702.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (review_csv_cleaned[[col]].applymap(type) != review_csv_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\4112330702.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (review_csv_cleaned[[col]].applymap(type) != review_csv_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)

## 06. Clean listing_gz

In [61]:
listing_gz.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,20240705150938,2024-07-06,city scrape,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,https://a0.muscache.com/pictures/miso/Hosting-...,2845,...,4.80,4.81,4.40,NaN,f,3,3,0,0,0.28
1,5136,https://www.airbnb.com/rooms/5136,20240705150938,2024-07-05,city scrape,Spacious Family Friendly Duplex w/ Patio + Yard,"We welcome you to stay in our lovely 2 br, 130...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,7378,...,5.00,4.75,4.75,NaN,t,1,1,0,0,0.03
2,6848,https://www.airbnb.com/rooms/6848,20240705150938,2024-07-06,city scrape,Only 2 stops to Manhattan studio,Comfortable studio apartment with super comfor...,NaN,https://a0.muscache.com/pictures/e4f031a7-f146...,15991,...,4.80,4.68,4.57,NaN,f,1,1,0,0,1.05
3,6872,https://www.airbnb.com/rooms/6872,20240705150938,2024-07-05,city scrape,Uptown Sanctuary w/ Private Bath (Month to Month),A charming month-to-month home away from home ...,This sweet Harlem sanctuary is a 10-20 minute ...,https://a0.muscache.com/pictures/miso/Hosting-...,16104,...,5.00,5.00,5.00,NaN,f,2,0,2,0,0.04
4,6990,https://www.airbnb.com/rooms/6990,20240705150938,2024-07-06,city scrape,UES Beautiful Blue Room,Beautiful peaceful healthy home,"Location: Five minutes to Central Park, Museum...",https://a0.muscache.com/pictures/be6cd5b3-9295...,16800,...,4.95,4.85,4.84,NaN,f,1,0,1,0,1.38

In [62]:
# Set display options to show all columns
pd.set_option('display.max_columns', None)

In [63]:
listing_gz.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,20240705150938,2024-07-06,city scrape,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,https://a0.muscache.com/pictures/miso/Hosting-...,2845,https://www.airbnb.com/users/show/2845,Jennifer,2008-09-09,"Woodstock, NY",A New Yorker since 2000! My passion is creatin...,a few days or more,43%,21%,f,https://a0.muscache.com/im/pictures/user/50fc5...,https://a0.muscache.com/im/pictures/user/50fc5...,Midtown,7.0,9.0,"['email', 'phone', 'work_email']",t,t,Neighborhood highlights,Midtown,Manhattan,40.75356,-73.98559,Entire rental unit,Entire home/apt,1,1.0,1 bath,0.0,1.0,"[""Smoke alarm"", ""Heating"", ""Bed linens"", ""Oven...",NaN,30,1125,30.0,30.0,1125.0,1125.0,30.0,1125.0,NaN,t,13,30,60,300,2024-07-06,49,0,0,2009-11-21,2022-06-21,4.68,4.73,4.63,4.77,4.80,4.81,4.40,NaN,f,3,3,0,0,0.28
1,5136,https://www.airbnb.com/rooms/5136,20240705150938,2024-07-05,city scrape,Spacious Family Friendly Duplex w/ Patio + Yard,"We welcome you to stay in our lovely 2 br, 130...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,7378,https://www.airbnb.com/users/show/7378,Rebecca,2009-02-03,"New York, NY","Rebecca is an artist/designer, and Henoch is i...",within an hour,100%,100%,f,https://a0.muscache.com/im/users/7378/profile_...,https://a0.muscache.com/im/users/7378/profile_...,Greenwood Heights,1.0,5.0,"['email', 'phone']",t,t,NaN,Sunset Park,Brooklyn,40.66265,-73.99454,Entire rental unit,Entire home/apt,4,1.5,1.5 baths,2.0,2.0,"[""Smoke alarm"", ""Heating"", ""Dryer"", ""Bed linen...",$215.00,30,730,30.0,30.0,730.0,730.0,30.0,730.0,NaN,t,2,11,11,71,2024-07-05,4,1,0,2014-01-02,2023-08-20,4.75,4.75,4.50,5.00,5.00,4.75,4.75,NaN,t,1,1,0,0,0.03
2,6848,https://www.airbnb.com/rooms/6848,20240705150938,2024-07-06,city scrape,Only 2 stops to Manhattan studio,Comfortable studio apartment with super comfor...,NaN,https://a0.muscache.com/pictures/e4f031a7-f146...,15991,https://www.airbnb.com/users/show/15991,Allen & Irina,2009-05-06,"New York, NY",We love to travel. When we travel we like to s...,within an hour,100%,100%,t,https://a0.muscache.com/im/users/15991/profile...,https://a0.muscache.com/im/users/15991/profile...,Williamsburg,1.0,1.0,"['email', 'phone']",t,t,NaN,Williamsburg,Brooklyn,40.70935,-73.95342,Entire rental unit,Entire home/apt,3,1.0,1 bath,2.0,1.0,"[""Smoke alarm"", ""Heating"", ""Bed linens"", ""Oven...",$81.00,30,730,30.0,30.0,1125.0,1125.0,30.0,1125.0,NaN,t,0,5,5,193,2024-07-06,193,3,0,2009-05-25,2024-05-18,4.58,4.59,4.86,4.85,4.80,4.68,4.57,NaN,f,1,1,0,0,1.05
3,6872,https://www.airbnb.com/rooms/6872,20240705150938,2024-07-05,city scrape,Uptown Sanctuary w/ Private Bath (Month to Month),A charming month-to-month home away from home ...,This sweet Harlem sanctuary is a 10-20 minute ...,https://a0.muscache.com/pictures/miso/Hosting-...,16104,https://www.airbnb.com/users/show/16104,Kae,2009-05-07,"New York, NY",A former life in fashion and wellness has left...,within a day,50%,0%,f,https://a0.muscache.com/im/pictures/user/d865a...,https://a0.muscache.com/im/pictures/user/d865a...,East Harlem,2.0,2.0,"['email', 'phone', 'work_email']",t,t,Neighborhood highlights,East Harlem,Manhattan,40.80107,-73.94255,Private room in condo,Private room,1,1.0,1 shared bath,1.0,1.0,"[""Smoke alarm"", ""Fire extinguisher"", ""Heating""...",$65.00,30,180,30.0,30.0,180.0,180.0,30.0,180.0,NaN,t,30,60,90,365,2024-07-05,1,0,0,2022-06-05,2022-06-05,5.00,5.00,5.00,5.00,5.00,5.00,5.00,NaN,f,2,0,2,0,0.04
4,6990,https://www.airbnb.com/rooms/6990,20240705150938,2024-07-06,city scrape,UES Beautiful Blue Room,Beautiful peaceful healthy home,"Location: Five minutes to Central Park, Museum...",https://a0.muscache.com/pictures/be6cd5b3-9295...,16800,https://www.airbnb.com/users/show/16800,Cyn,2009-05-12,"New York, NY",Capturing the Steinbeck side of life in its Fi...,within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/17c4d...,https://a0.muscache.com/im/pictures/user/17c4d...,East Harlem,1.0,6.0,"['email', 'phone']",t,t,Neighborhood highlights,East Harlem,Manhattan,40.78778,-73.94759,Private room in rental unit,Private room,1,1.0,1 shared bath,1.0,1.0,"[""Smoke alarm"", ""Fire extinguisher"", ""Heating""...",$65.00,30,365,30.0,30.0,365.0,365.0,30.0,365.0,NaN,t,2,6,6,212,2024-07-06,247,2,0,2009-10-28,2024-03-06,4.88,4.83,4.96,4.96,4.95,4.85,4.84,NaN,f,1,0,1,0,1.38

listing_gz.shape

In [65]:
listing_gz.dtypes

id                                                int64
listing_url                                      object
scrape_id                                         int64
last_scraped                                     object
source                                           object
                                                 ...
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
Length: 75, dtype: object

In [66]:
# Check for duplicates in the DataFrame
duplicate_count_3 = listing_gz.duplicated().sum()  # Count the number of duplicate rows

# Display the number of duplicates
print(f"Number of duplicate rows: {duplicate_count_3}")

Number of duplicate rows: 0

In [67]:
# Check for missing values
missing_values_list_gz = listing_gz.isnull().sum()

In [68]:
# Sort the summed DataFrame in descending order
listg_gz_missing_sorted = missing_values_list_gz.sort_values( ascending=False)

In [69]:
# Set the option to display all rows
pd.set_option('display.max_rows', None)

In [70]:
# Optionally, you can also print the percentage of missing values
missing_percentage = (listing_gz.isnull().mean() * 100).round(2)
missing_percentage = missing_percentage[missing_percentage > 0]

# Sort the missing percentage in descending order
missing_percentage_sorted = missing_percentage.sort_values(ascending=False)

# Print the sorted percentages
print("\nPercentage of missing values in each column (descending order):")
print(missing_percentage_sorted)

Percentage of missing values in each column (descending order):
calendar_updated               100.00
license                         86.31
neighbourhood                   43.61
neighborhood_overview           43.61
host_about                      43.21
beds                            39.13
host_response_time              39.00
host_response_rate              39.00
price                           38.98
bathrooms                       38.64
host_acceptance_rate            34.21
review_scores_location          31.18
review_scores_value             31.18
review_scores_checkin           31.17
review_scores_accuracy          31.16
review_scores_communication     31.15
review_scores_cleanliness       31.13
review_scores_rating            31.12
last_review                     31.12
first_review                    31.12
reviews_per_month               31.12
host_location                   21.35
host_neighbourhood              19.88
bedrooms                        15.58
has_availability                14.31
description                      2.89
host_is_superhost                1.05
bathrooms_text                   0.10
host_thumbnail_url               0.01
host_name                        0.01
host_since                       0.01
host_listings_count              0.01
host_picture_url                 0.01
host_total_listings_count        0.01
host_verifications               0.01
host_has_profile_pic             0.01
host_identity_verified           0.01
name                             0.01
dtype: float64

In [71]:
# Drop the 'calendar_updated' column from the DataFrame
listing_gz_cleaned = listing_gz.drop(columns=['calendar_updated', 'license', 'host_thumbnail_url', 'host_picture_url', 'neighbourhood', 'neighborhood_overview', 'host_about'])  # Creates a new DataFrame without the specified column

# Display the first few rows to confirm the change
listing_gz_cleaned.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,picture_url,host_id,host_url,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,20240705150938,2024-07-06,city scrape,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",https://a0.muscache.com/pictures/miso/Hosting-...,2845,https://www.airbnb.com/users/show/2845,Jennifer,2008-09-09,"Woodstock, NY",a few days or more,43%,21%,f,Midtown,7.0,9.0,"['email', 'phone', 'work_email']",t,t,Midtown,Manhattan,40.75356,-73.98559,Entire rental unit,Entire home/apt,1,1.0,1 bath,0.0,1.0,"[""Smoke alarm"", ""Heating"", ""Bed linens"", ""Oven...",NaN,30,1125,30.0,30.0,1125.0,1125.0,30.0,1125.0,t,13,30,60,300,2024-07-06,49,0,0,2009-11-21,2022-06-21,4.68,4.73,4.63,4.77,4.80,4.81,4.40,f,3,3,0,0,0.28
1,5136,https://www.airbnb.com/rooms/5136,20240705150938,2024-07-05,city scrape,Spacious Family Friendly Duplex w/ Patio + Yard,"We welcome you to stay in our lovely 2 br, 130...",https://a0.muscache.com/pictures/miso/Hosting-...,7378,https://www.airbnb.com/users/show/7378,Rebecca,2009-02-03,"New York, NY",within an hour,100%,100%,f,Greenwood Heights,1.0,5.0,"['email', 'phone']",t,t,Sunset Park,Brooklyn,40.66265,-73.99454,Entire rental unit,Entire home/apt,4,1.5,1.5 baths,2.0,2.0,"[""Smoke alarm"", ""Heating"", ""Dryer"", ""Bed linen...",$215.00,30,730,30.0,30.0,730.0,730.0,30.0,730.0,t,2,11,11,71,2024-07-05,4,1,0,2014-01-02,2023-08-20,4.75,4.75,4.50,5.00,5.00,4.75,4.75,t,1,1,0,0,0.03
2,6848,https://www.airbnb.com/rooms/6848,20240705150938,2024-07-06,city scrape,Only 2 stops to Manhattan studio,Comfortable studio apartment with super comfor...,https://a0.muscache.com/pictures/e4f031a7-f146...,15991,https://www.airbnb.com/users/show/15991,Allen & Irina,2009-05-06,"New York, NY",within an hour,100%,100%,t,Williamsburg,1.0,1.0,"['email', 'phone']",t,t,Williamsburg,Brooklyn,40.70935,-73.95342,Entire rental unit,Entire home/apt,3,1.0,1 bath,2.0,1.0,"[""Smoke alarm"", ""Heating"", ""Bed linens"", ""Oven...",$81.00,30,730,30.0,30.0,1125.0,1125.0,30.0,1125.0,t,0,5,5,193,2024-07-06,193,3,0,2009-05-25,2024-05-18,4.58,4.59,4.86,4.85,4.80,4.68,4.57,f,1,1,0,0,1.05
3,6872,https://www.airbnb.com/rooms/6872,20240705150938,2024-07-05,city scrape,Uptown Sanctuary w/ Private Bath (Month to Month),A charming month-to-month home away from home ...,https://a0.muscache.com/pictures/miso/Hosting-...,16104,https://www.airbnb.com/users/show/16104,Kae,2009-05-07,"New York, NY",within a day,50%,0%,f,East Harlem,2.0,2.0,"['email', 'phone', 'work_email']",t,t,East Harlem,Manhattan,40.80107,-73.94255,Private room in condo,Private room,1,1.0,1 shared bath,1.0,1.0,"[""Smoke alarm"", ""Fire extinguisher"", ""Heating""...",$65.00,30,180,30.0,30.0,180.0,180.0,30.0,180.0,t,30,60,90,365,2024-07-05,1,0,0,2022-06-05,2022-06-05,5.00,5.00,5.00,5.00,5.00,5.00,5.00,f,2,0,2,0,0.04
4,6990,https://www.airbnb.com/rooms/6990,20240705150938,2024-07-06,city scrape,UES Beautiful Blue Room,Beautiful peaceful healthy home,https://a0.muscache.com/pictures/be6cd5b3-9295...,16800,https://www.airbnb.com/users/show/16800,Cyn,2009-05-12,"New York, NY",within an hour,100%,100%,t,East Harlem,1.0,6.0,"['email', 'phone']",t,t,East Harlem,Manhattan,40.78778,-73.94759,Private room in rental unit,Private room,1,1.0,1 shared bath,1.0,1.0,"[""Smoke alarm"", ""Fire extinguisher"", ""Heating""...",$65.00,30,365,30.0,30.0,365.0,365.0,30.0,365.0,t,2,6,6,212,2024-07-06,247,2,0,2009-10-28,2024-03-06,4.88,4.83,4.96,4.96,4.95,4.85,4.84,f,1,0,1,0,1.38

In [72]:
# Check for mixed data types
for col in listing_gz_cleaned.columns.tolist():
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (listing_gz_cleaned[weird]) > 0:
    print (col)

C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)

name
description
picture_url
host_name
host_since
host_location
host_response_time

C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)

host_response_rate
host_acceptance_rate
host_is_superhost
host_neighbourhood
host_verifications
host_has_profile_pic
host_identity_verified

C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)

bathrooms_text
price

C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)

has_availability
first_review

C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)

last_review

C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1475242728.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (listing_gz_cleaned[[col]].applymap(type) != listing_gz_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)

In [73]:
# Explore mixed data types
columns_to_check = ['name', 'description', 'host_name','host_since','host_location','host_response_time']  # Add any other columns you want to check

# Loop through each specified column
for col in columns_to_check:
    # Get the types of each entry in the column
    column_types = listing_gz_cleaned[col].apply(type)
    
    # Filter rows with mixed types by comparing each entry's type to the type of the first entry
    mixed_data = listing_gz_cleaned[column_types != column_types.iloc[0]]
    
    # Display the mixed data for the current column if any mixed types are found
    if not mixed_data.empty:
        print(f"Mixed data in column '{col}':")
        # Print the unique mixed data values in a compact format
        print(mixed_data[col].unique())  # Print unique values to avoid long lists

Mixed data in column 'name':
[nan]
Mixed data in column 'description':
[nan]
Mixed data in column 'host_name':
[nan]
Mixed data in column 'host_since':
[nan]
Mixed data in column 'host_location':
[nan]
Mixed data in column 'host_response_time':
[nan]

All mixed data types are NaN values.

In [75]:
listing_gz_cleaned.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,picture_url,host_id,host_url,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,20240705150938,2024-07-06,city scrape,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",https://a0.muscache.com/pictures/miso/Hosting-...,2845,https://www.airbnb.com/users/show/2845,Jennifer,2008-09-09,"Woodstock, NY",a few days or more,43%,21%,f,Midtown,7.0,9.0,"['email', 'phone', 'work_email']",t,t,Midtown,Manhattan,40.75356,-73.98559,Entire rental unit,Entire home/apt,1,1.0,1 bath,0.0,1.0,"[""Smoke alarm"", ""Heating"", ""Bed linens"", ""Oven...",NaN,30,1125,30.0,30.0,1125.0,1125.0,30.0,1125.0,t,13,30,60,300,2024-07-06,49,0,0,2009-11-21,2022-06-21,4.68,4.73,4.63,4.77,4.80,4.81,4.40,f,3,3,0,0,0.28
1,5136,https://www.airbnb.com/rooms/5136,20240705150938,2024-07-05,city scrape,Spacious Family Friendly Duplex w/ Patio + Yard,"We welcome you to stay in our lovely 2 br, 130...",https://a0.muscache.com/pictures/miso/Hosting-...,7378,https://www.airbnb.com/users/show/7378,Rebecca,2009-02-03,"New York, NY",within an hour,100%,100%,f,Greenwood Heights,1.0,5.0,"['email', 'phone']",t,t,Sunset Park,Brooklyn,40.66265,-73.99454,Entire rental unit,Entire home/apt,4,1.5,1.5 baths,2.0,2.0,"[""Smoke alarm"", ""Heating"", ""Dryer"", ""Bed linen...",$215.00,30,730,30.0,30.0,730.0,730.0,30.0,730.0,t,2,11,11,71,2024-07-05,4,1,0,2014-01-02,2023-08-20,4.75,4.75,4.50,5.00,5.00,4.75,4.75,t,1,1,0,0,0.03
2,6848,https://www.airbnb.com/rooms/6848,20240705150938,2024-07-06,city scrape,Only 2 stops to Manhattan studio,Comfortable studio apartment with super comfor...,https://a0.muscache.com/pictures/e4f031a7-f146...,15991,https://www.airbnb.com/users/show/15991,Allen & Irina,2009-05-06,"New York, NY",within an hour,100%,100%,t,Williamsburg,1.0,1.0,"['email', 'phone']",t,t,Williamsburg,Brooklyn,40.70935,-73.95342,Entire rental unit,Entire home/apt,3,1.0,1 bath,2.0,1.0,"[""Smoke alarm"", ""Heating"", ""Bed linens"", ""Oven...",$81.00,30,730,30.0,30.0,1125.0,1125.0,30.0,1125.0,t,0,5,5,193,2024-07-06,193,3,0,2009-05-25,2024-05-18,4.58,4.59,4.86,4.85,4.80,4.68,4.57,f,1,1,0,0,1.05
3,6872,https://www.airbnb.com/rooms/6872,20240705150938,2024-07-05,city scrape,Uptown Sanctuary w/ Private Bath (Month to Month),A charming month-to-month home away from home ...,https://a0.muscache.com/pictures/miso/Hosting-...,16104,https://www.airbnb.com/users/show/16104,Kae,2009-05-07,"New York, NY",within a day,50%,0%,f,East Harlem,2.0,2.0,"['email', 'phone', 'work_email']",t,t,East Harlem,Manhattan,40.80107,-73.94255,Private room in condo,Private room,1,1.0,1 shared bath,1.0,1.0,"[""Smoke alarm"", ""Fire extinguisher"", ""Heating""...",$65.00,30,180,30.0,30.0,180.0,180.0,30.0,180.0,t,30,60,90,365,2024-07-05,1,0,0,2022-06-05,2022-06-05,5.00,5.00,5.00,5.00,5.00,5.00,5.00,f,2,0,2,0,0.04
4,6990,https://www.airbnb.com/rooms/6990,20240705150938,2024-07-06,city scrape,UES Beautiful Blue Room,Beautiful peaceful healthy home,https://a0.muscache.com/pictures/be6cd5b3-9295...,16800,https://www.airbnb.com/users/show/16800,Cyn,2009-05-12,"New York, NY",within an hour,100%,100%,t,East Harlem,1.0,6.0,"['email', 'phone']",t,t,East Harlem,Manhattan,40.78778,-73.94759,Private room in rental unit,Private room,1,1.0,1 shared bath,1.0,1.0,"[""Smoke alarm"", ""Fire extinguisher"", ""Heating""...",$65.00,30,365,30.0,30.0,365.0,365.0,30.0,365.0,t,2,6,6,212,2024-07-06,247,2,0,2009-10-28,2024-03-06,4.88,4.83,4.96,4.96,4.95,4.85,4.84,f,1,0,1,0,1.38

In [76]:
listing_gz_cleaned.dtypes

id                                                int64
listing_url                                      object
scrape_id                                         int64
last_scraped                                     object
source                                           object
name                                             object
description                                      object
picture_url                                      object
host_id                                           int64
host_url                                         object
host_name                                        object
host_since                                       object
host_location                                    object
host_response_time                               object
host_response_rate                               object
host_acceptance_rate                             object
host_is_superhost                                object
host_neighbourhood                               object
host_listings_count                             float64
host_total_listings_count                       float64
host_verifications                               object
host_has_profile_pic                             object
host_identity_verified                           object
neighbourhood_cleansed                           object
neighbourhood_group_cleansed                     object
latitude                                        float64
longitude                                       float64
property_type                                    object
room_type                                        object
accommodates                                      int64
bathrooms                                       float64
bathrooms_text                                   object
bedrooms                                        float64
beds                                            float64
amenities                                        object
price                                            object
minimum_nights                                    int64
maximum_nights                                    int64
minimum_minimum_nights                          float64
maximum_minimum_nights                          float64
minimum_maximum_nights                          float64
maximum_maximum_nights                          float64
minimum_nights_avg_ntm                          float64
maximum_nights_avg_ntm                          float64
has_availability                                 object
availability_30                                   int64
availability_60                                   int64
availability_90                                   int64
availability_365                                  int64
calendar_last_scraped                            object
number_of_reviews                                 int64
number_of_reviews_ltm                             int64
number_of_reviews_l30d                            int64
first_review                                     object
last_review                                      object
review_scores_rating                            float64
review_scores_accuracy                          float64
review_scores_cleanliness                       float64
review_scores_checkin                           float64
review_scores_communication                     float64
review_scores_location                          float64
review_scores_value                             float64
instant_bookable                                 object
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
dtype: object

In [77]:
# Remove the dollar sign and convert the 'price' column to float
listing_gz_cleaned['price'] = listing_gz_cleaned['price'].replace({'\$': '', ',': ''}, regex=True).astype(float)

# Check the data type to confirm the conversion
print(listing_gz_cleaned['price'].dtypes)

float64

In [78]:
# Calculate the percentage of missing values in the 'price' column
missing_percentage = listing_gz_cleaned['price'].isnull().mean() * 100

# Display the result
print(f"Percentage of missing values in 'price' column: {missing_percentage:.2f}%")

Percentage of missing values in 'price' column: 38.98%

In [79]:
# Calculate the mean price for each neighborhood
neighborhood_avg_prices = listing_gz_cleaned.groupby('neighbourhood_cleansed')['price'].mean()

# Replace missing prices with the average price of the respective neighborhood
listing_gz_cleaned['price'] = listing_gz_cleaned.apply(
    lambda row: neighborhood_avg_prices[row['neighbourhood_cleansed']] if pd.isnull(row['price']) else row['price'],
    axis=1
)

# Display the first few rows to confirm the changes
listing_gz_cleaned.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,picture_url,host_id,host_url,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,20240705150938,2024-07-06,city scrape,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",https://a0.muscache.com/pictures/miso/Hosting-...,2845,https://www.airbnb.com/users/show/2845,Jennifer,2008-09-09,"Woodstock, NY",a few days or more,43%,21%,f,Midtown,7.0,9.0,"['email', 'phone', 'work_email']",t,t,Midtown,Manhattan,40.75356,-73.98559,Entire rental unit,Entire home/apt,1,1.0,1 bath,0.0,1.0,"[""Smoke alarm"", ""Heating"", ""Bed linens"", ""Oven...",394.96902,30,1125,30.0,30.0,1125.0,1125.0,30.0,1125.0,t,13,30,60,300,2024-07-06,49,0,0,2009-11-21,2022-06-21,4.68,4.73,4.63,4.77,4.80,4.81,4.40,f,3,3,0,0,0.28
1,5136,https://www.airbnb.com/rooms/5136,20240705150938,2024-07-05,city scrape,Spacious Family Friendly Duplex w/ Patio + Yard,"We welcome you to stay in our lovely 2 br, 130...",https://a0.muscache.com/pictures/miso/Hosting-...,7378,https://www.airbnb.com/users/show/7378,Rebecca,2009-02-03,"New York, NY",within an hour,100%,100%,f,Greenwood Heights,1.0,5.0,"['email', 'phone']",t,t,Sunset Park,Brooklyn,40.66265,-73.99454,Entire rental unit,Entire home/apt,4,1.5,1.5 baths,2.0,2.0,"[""Smoke alarm"", ""Heating"", ""Dryer"", ""Bed linen...",215.00000,30,730,30.0,30.0,730.0,730.0,30.0,730.0,t,2,11,11,71,2024-07-05,4,1,0,2014-01-02,2023-08-20,4.75,4.75,4.50,5.00,5.00,4.75,4.75,t,1,1,0,0,0.03
2,6848,https://www.airbnb.com/rooms/6848,20240705150938,2024-07-06,city scrape,Only 2 stops to Manhattan studio,Comfortable studio apartment with super comfor...,https://a0.muscache.com/pictures/e4f031a7-f146...,15991,https://www.airbnb.com/users/show/15991,Allen & Irina,2009-05-06,"New York, NY",within an hour,100%,100%,t,Williamsburg,1.0,1.0,"['email', 'phone']",t,t,Williamsburg,Brooklyn,40.70935,-73.95342,Entire rental unit,Entire home/apt,3,1.0,1 bath,2.0,1.0,"[""Smoke alarm"", ""Heating"", ""Bed linens"", ""Oven...",81.00000,30,730,30.0,30.0,1125.0,1125.0,30.0,1125.0,t,0,5,5,193,2024-07-06,193,3,0,2009-05-25,2024-05-18,4.58,4.59,4.86,4.85,4.80,4.68,4.57,f,1,1,0,0,1.05
3,6872,https://www.airbnb.com/rooms/6872,20240705150938,2024-07-05,city scrape,Uptown Sanctuary w/ Private Bath (Month to Month),A charming month-to-month home away from home ...,https://a0.muscache.com/pictures/miso/Hosting-...,16104,https://www.airbnb.com/users/show/16104,Kae,2009-05-07,"New York, NY",within a day,50%,0%,f,East Harlem,2.0,2.0,"['email', 'phone', 'work_email']",t,t,East Harlem,Manhattan,40.80107,-73.94255,Private room in condo,Private room,1,1.0,1 shared bath,1.0,1.0,"[""Smoke alarm"", ""Fire extinguisher"", ""Heating""...",65.00000,30,180,30.0,30.0,180.0,180.0,30.0,180.0,t,30,60,90,365,2024-07-05,1,0,0,2022-06-05,2022-06-05,5.00,5.00,5.00,5.00,5.00,5.00,5.00,f,2,0,2,0,0.04
4,6990,https://www.airbnb.com/rooms/6990,20240705150938,2024-07-06,city scrape,UES Beautiful Blue Room,Beautiful peaceful healthy home,https://a0.muscache.com/pictures/be6cd5b3-9295...,16800,https://www.airbnb.com/users/show/16800,Cyn,2009-05-12,"New York, NY",within an hour,100%,100%,t,East Harlem,1.0,6.0,"['email', 'phone']",t,t,East Harlem,Manhattan,40.78778,-73.94759,Private room in rental unit,Private room,1,1.0,1 shared bath,1.0,1.0,"[""Smoke alarm"", ""Fire extinguisher"", ""Heating""...",65.00000,30,365,30.0,30.0,365.0,365.0,30.0,365.0,t,2,6,6,212,2024-07-06,247,2,0,2009-10-28,2024-03-06,4.88,4.83,4.96,4.96,4.95,4.85,4.84,f,1,0,1,0,1.38

In [80]:
# Calculate the percentage of missing values in the 'price' column
missing_percentage = listing_gz_cleaned['price'].isnull().mean() * 100

# Display the result
print(f"Percentage of missing values in 'price' column: {missing_percentage:.2f}%")

Percentage of missing values in 'price' column: 0.00%

In [81]:
# Round the 'price' column to 2 decimal points
listing_gz_cleaned['price'] = listing_gz_cleaned['price'].round(2)

# Display the first few rows to confirm the changes
print(listing_gz_cleaned['price'].head())

0    394.97
1    215.00
2     81.00
3     65.00
4     65.00
Name: price, dtype: float64

In [82]:
listing_gz_cleaned.shape

(37765, 68)

In [83]:
listing_gz.shape

(37765, 75)

## 06. Clean reviews_gz

In [85]:
review_gz.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2595,17857,2009-11-21,50679,Jean,Notre séjour de trois nuits.\r<br/>Nous avons ...
1,2595,19176,2009-12-05,53267,Cate,Great experience.
2,2595,19760,2009-12-10,38960,Anita,I've stayed with my friend at the Midtown Cast...
3,2595,34320,2010-04-09,71130,Kai-Uwe,"We've been staying here for about 9 nights, en..."
4,2595,46312,2010-05-25,117113,Alicia,We had a wonderful stay at Jennifer's charming...

In [86]:
review_gz.shape

(940310, 6)

In [87]:
# Check for duplicates
duplicates = review_gz[review_gz.duplicated()]
duplicate_count = duplicates.shape[0]
duplicate_count

0

Dataframe contains no duplicates.

In [89]:
# Check for missing values in the review_csv dataframe
missing_values = review_gz.isnull().sum()

# Display the count of missing values for each column
print("Missing values in each column of review_csv:")
print(missing_values)

Missing values in each column of review_csv:
listing_id         0
id                 0
date               0
reviewer_id        0
reviewer_name      3
comments         226
dtype: int64

In [90]:
# Check missing reviewer_name
review_gz = review_gz.drop(columns=['reviewer_name'])

In [91]:
review_gz.head()

,listing_id,id,date,reviewer_id,comments
0,2595,17857,2009-11-21,50679,Notre séjour de trois nuits.\r<br/>Nous avons ...
1,2595,19176,2009-12-05,53267,Great experience.
2,2595,19760,2009-12-10,38960,I've stayed with my friend at the Midtown Cast...
3,2595,34320,2010-04-09,71130,"We've been staying here for about 9 nights, en..."
4,2595,46312,2010-05-25,117113,We had a wonderful stay at Jennifer's charming...

In [92]:
for col in review_gz.columns.tolist():
  weird = (review_gz[[col]].applymap(type) != review_gz[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (review_gz[weird]) > 0:
    print (col)

C:\Users\alope\AppData\Local\Temp\ipykernel_12100\2693953790.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (review_gz[[col]].applymap(type) != review_gz[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\2693953790.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (review_gz[[col]].applymap(type) != review_gz[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\2693953790.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (review_gz[[col]].applymap(type) != review_gz[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\2693953790.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (review_gz[[col]].applymap(type) != review_gz[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\2693953790.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (review_gz[[col]].applymap(type) != review_gz[[col]].iloc[0].apply(type)).any(axis = 1)

comments

Comments are unstructured text data and thus is expected to return the presence of mixed data.

## 07. Clean calendar_csv

In [95]:
calendar_csv.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2595,2024-07-06,t,$225.00,NaN,30.0,1125.0
1,2595,2024-07-07,t,$225.00,NaN,30.0,1125.0
2,2595,2024-07-08,t,$225.00,NaN,30.0,1125.0
3,2595,2024-07-09,t,$225.00,NaN,30.0,1125.0
4,2595,2024-07-10,t,$225.00,NaN,30.0,1125.0

In [96]:
calendar_csv.shape

(13783864, 7)

In [97]:
# Check for duplicates
duplicates = calendar_csv[calendar_csv.duplicated()]
duplicate_count = duplicates.shape[0]
duplicate_count

0

In [98]:
# Check for missing values in the calendar_csv dataframe
missing_values = calendar_csv.isnull().sum()

# Display the count of missing values for each column
print("Missing values in each column of calendar_csv:")
print(missing_values)

Missing values in each column of calendar_csv:
listing_id               0
date                     0
available                0
price                    0
adjusted_price    13783499
minimum_nights           9
maximum_nights           9
dtype: int64

In [99]:
# Drop the 'calendar_updated' column from calendar.csv
calendar_cleaned = calendar_csv.drop(columns=['adjusted_price'])  
# Display the first few rows to confirm the change
calendar_cleaned.head()

   listing_id        date available    price  minimum_nights  maximum_nights
0        2595  2024-07-06         t  $225.00            30.0          1125.0
1        2595  2024-07-07         t  $225.00            30.0          1125.0
2        2595  2024-07-08         t  $225.00            30.0          1125.0
3        2595  2024-07-09         t  $225.00            30.0          1125.0
4        2595  2024-07-10         t  $225.00            30.0          1125.0

In [100]:
calendar_cleaned.dtypes

listing_id          int64
date               object
available          object
price              object
minimum_nights    float64
maximum_nights    float64
dtype: object

In [101]:
# Remove the dollar sign and convert the 'price' column to float
listing_gz_cleaned['price'] = listing_gz_cleaned['price'].replace({'\$': '', ',': ''}, regex=True).astype(float)

# Check the data type to confirm the conversion
print(listing_gz_cleaned['price'].dtypes)

float64

In [102]:
for col in calendar_cleaned.columns.tolist():
  weird = (calendar_cleaned[[col]].applymap(type) != calendar_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (calendar_cleaned[weird]) > 0:
    print (col)

C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1777119511.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (calendar_cleaned[[col]].applymap(type) != calendar_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1777119511.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (calendar_cleaned[[col]].applymap(type) != calendar_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1777119511.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (calendar_cleaned[[col]].applymap(type) != calendar_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1777119511.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (calendar_cleaned[[col]].applymap(type) != calendar_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1777119511.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (calendar_cleaned[[col]].applymap(type) != calendar_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1777119511.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (calendar_cleaned[[col]].applymap(type) != calendar_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)

In [103]:
calendar_cleaned['listing_id'] = calendar_cleaned['listing_id'].astype(str)

In [104]:
calendar_cleaned['date'] = pd.to_datetime(calendar_cleaned['date'])

In [105]:
calendar_cleaned['available'] = calendar_cleaned['available'].map({'t': True, 'f': False})

In [106]:
# Calculate the number of NaN values in 'minimum_nights'
nan_count = calendar_cleaned['minimum_nights'].isna().sum()
print(nan_count)

9

In [107]:
# Display rows where 'minimum_nights' is NaN in a table format
nan_rows = calendar_cleaned[calendar_cleaned['minimum_nights'].isna()]

# Display the DataFrame with NaN rows
pd.set_option('display.max_rows', None)  # Optional: Show all rows if there are many
print(nan_rows)

                   listing_id       date  available    price  minimum_nights  \
908485                4621217 2024-07-05      False  $181.00             NaN
7035011              49089796 2024-07-05      False  $140.00             NaN
8057742              54018489 2024-07-05      False  $185.00             NaN
9976182    793306261107429606 2024-07-05      False  $204.00             NaN
11388732   941212639695756797 2024-07-05      False  $156.00             NaN
12332988  1044226337540626550 2024-07-05      False  $126.00             NaN
13055688  1124909486762704847 2024-07-05      False   $42.00             NaN
13196579  1139008430728083402 2024-07-05      False  $288.00             NaN
13760139  1190605090857005010 2024-07-05       True   $89.00             NaN

          maximum_nights
908485               NaN
7035011              NaN
8057742              NaN
9976182              NaN
11388732             NaN
12332988             NaN
13055688             NaN
13196579             NaN
13760139             NaN

Host may have not set a minimum or maximum to attract more rentals. As there are only 9, i will drop these rows.

In [109]:
# Drop rows where 'minimum_nights' is NaN
calendar_cleaned_2 = calendar_cleaned.dropna(subset=['minimum_nights'])

# Optionally, you can reset the index after dropping rows
calendar_cleaned_2.reset_index(drop=True, inplace=True)

In [110]:
calendar_cleaned.shape

(13783864, 6)

In [111]:
calendar_cleaned_2.dtypes

listing_id                object
date              datetime64[ns]
available                   bool
price                     object
minimum_nights           float64
maximum_nights           float64
dtype: object

In [112]:
# Remove the dollar sign and convert the 'price' column to float
calendar_cleaned_2['price'] = calendar_cleaned_2['price'].replace({'\$': '', ',': ''}, regex=True).astype(float)

# Check the data type to confirm the conversion
print(calendar_cleaned_2['price'].dtypes)

float64

C:\Users\alope\AppData\Local\Temp\ipykernel_12100\1894226364.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calendar_cleaned_2['price'] = calendar_cleaned_2['price'].replace({'\$': '', ',': ''}, regex=True).astype(float)

In [113]:
calendar_cleaned_2.shape

(13783855, 6)

## 08. Clean neighborhoods_csv

In [115]:
hoods_csv.head()

  neighbourhood_group neighbourhood
0               Bronx      Allerton
1               Bronx    Baychester
2               Bronx       Belmont
3               Bronx     Bronxdale
4               Bronx   Castle Hill

In [116]:
hoods_csv.shape

(230, 2)

In [117]:
# Check for duplicate rows in the DataFrame
duplicates = hoods_csv[hoods_csv.duplicated()]

# Display the duplicate rows
duplicates

Empty DataFrame
Columns: [neighbourhood_group, neighbourhood]
Index: []

In [118]:
# Check for missing values in the DataFrame
missing_values = hoods_csv.isna().sum()

# Display the count of missing values for each column
print(missing_values)

neighbourhood_group    0
neighbourhood          0
dtype: int64

In [119]:
hoods_csv.dtypes

neighbourhood_group    object
neighbourhood          object
dtype: object

In [120]:
for col in hoods_csv.columns.tolist():
  weird = (hoods_csv[[col]].applymap(type) != hoods_csv[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (hoods_csv[weird]) > 0:
    print (col)

C:\Users\alope\AppData\Local\Temp\ipykernel_12100\3195194754.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (hoods_csv[[col]].applymap(type) != hoods_csv[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\3195194754.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (hoods_csv[[col]].applymap(type) != hoods_csv[[col]].iloc[0].apply(type)).any(axis = 1)

## 09. Clean neighborhood geojson data

In [122]:
geo_data.head()

,neighbourhood,neighbourhood_group,geometry
0,Bayswater,Queens,"MULTIPOLYGON (((-73.76671 40.61491, -73.76825 ..."
1,Allerton,Bronx,"MULTIPOLYGON (((-73.8486 40.87167, -73.84582 4..."
2,City Island,Bronx,"MULTIPOLYGON (((-73.78282 40.84392, -73.78257 ..."
3,Ditmars Steinway,Queens,"MULTIPOLYGON (((-73.9016 40.76777, -73.90391 4..."
4,Ozone Park,Queens,"MULTIPOLYGON (((-73.83754 40.69136, -73.83108 ..."

In [123]:
geo_data.shape

(233, 3)

In [124]:
# Check for duplicate rows 
duplicates = geo_data[geo_data.duplicated()]

# Display the duplicate rows
duplicates

Empty GeoDataFrame
Columns: [neighbourhood, neighbourhood_group, geometry]
Index: []

In [125]:
geo_data.dtypes

neighbourhood            object
neighbourhood_group      object
geometry               geometry
dtype: object

In [126]:
# Create a new df with only the 'neighbourhood' and 'neighbourhood_group' columns to check for mixed data (due to the nature of the geometry data)
neighbourhood_df = geo_data[['neighbourhood', 'neighbourhood_group']]

# Check output
neighbourhood_df.head()

      neighbourhood neighbourhood_group
0         Bayswater              Queens
1          Allerton               Bronx
2       City Island               Bronx
3  Ditmars Steinway              Queens
4        Ozone Park              Queens

In [127]:
for col in neighbourhood_df.columns.tolist():
  weird = (neighbourhood_df[[col]].applymap(type) != neighbourhood_df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (neighbourhood_df[weird]) > 0:
    print (col)

C:\Users\alope\AppData\Local\Temp\ipykernel_12100\475152815.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (neighbourhood_df[[col]].applymap(type) != neighbourhood_df[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\alope\AppData\Local\Temp\ipykernel_12100\475152815.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (neighbourhood_df[[col]].applymap(type) != neighbourhood_df[[col]].iloc[0].apply(type)).any(axis = 1)

In [128]:
# Check for missing data
missing_data = geo_data.isnull().sum()

# Display the count of missing values for each column
print(missing_data)

neighbourhood          0
neighbourhood_group    0
geometry               0
dtype: int64

## 10. Basic stats recap

AirBnB NYC (2023) Datasets: listing.csv, listing.gz.csv, review.csv, review.gz.csv, calendar.csv, neighborhoods.csv, neighborhoods.geojson

In [131]:
# Check to make sure all data types are appropriate
listing_csv_cleaned.dtypes

id                                        object
name                                      object
host_id                                   object
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
number_of_reviews_ltm                      int64
dtype: object

In [132]:
listing_gz_cleaned.dtypes

id                                                int64
listing_url                                      object
scrape_id                                         int64
last_scraped                                     object
source                                           object
name                                             object
description                                      object
picture_url                                      object
host_id                                           int64
host_url                                         object
host_name                                        object
host_since                                       object
host_location                                    object
host_response_time                               object
host_response_rate                               object
host_acceptance_rate                             object
host_is_superhost                                object
host_neighbourhood                               object
host_listings_count                             float64
host_total_listings_count                       float64
host_verifications                               object
host_has_profile_pic                             object
host_identity_verified                           object
neighbourhood_cleansed                           object
neighbourhood_group_cleansed                     object
latitude                                        float64
longitude                                       float64
property_type                                    object
room_type                                        object
accommodates                                      int64
bathrooms                                       float64
bathrooms_text                                   object
bedrooms                                        float64
beds                                            float64
amenities                                        object
price                                           float64
minimum_nights                                    int64
maximum_nights                                    int64
minimum_minimum_nights                          float64
maximum_minimum_nights                          float64
minimum_maximum_nights                          float64
maximum_maximum_nights                          float64
minimum_nights_avg_ntm                          float64
maximum_nights_avg_ntm                          float64
has_availability                                 object
availability_30                                   int64
availability_60                                   int64
availability_90                                   int64
availability_365                                  int64
calendar_last_scraped                            object
number_of_reviews                                 int64
number_of_reviews_ltm                             int64
number_of_reviews_l30d                            int64
first_review                                     object
last_review                                      object
review_scores_rating                            float64
review_scores_accuracy                          float64
review_scores_cleanliness                       float64
review_scores_checkin                           float64
review_scores_communication                     float64
review_scores_location                          float64
review_scores_value                             float64
instant_bookable                                 object
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
dtype: object

In [133]:
listing_gz_cleaned['id'] = listing_gz_cleaned['id'].astype(str)  # Change to string

In [134]:
listing_gz_cleaned.dtypes

id                                               object
listing_url                                      object
scrape_id                                         int64
last_scraped                                     object
source                                           object
name                                             object
description                                      object
picture_url                                      object
host_id                                           int64
host_url                                         object
host_name                                        object
host_since                                       object
host_location                                    object
host_response_time                               object
host_response_rate                               object
host_acceptance_rate                             object
host_is_superhost                                object
host_neighbourhood                               object
host_listings_count                             float64
host_total_listings_count                       float64
host_verifications                               object
host_has_profile_pic                             object
host_identity_verified                           object
neighbourhood_cleansed                           object
neighbourhood_group_cleansed                     object
latitude                                        float64
longitude                                       float64
property_type                                    object
room_type                                        object
accommodates                                      int64
bathrooms                                       float64
bathrooms_text                                   object
bedrooms                                        float64
beds                                            float64
amenities                                        object
price                                           float64
minimum_nights                                    int64
maximum_nights                                    int64
minimum_minimum_nights                          float64
maximum_minimum_nights                          float64
minimum_maximum_nights                          float64
maximum_maximum_nights                          float64
minimum_nights_avg_ntm                          float64
maximum_nights_avg_ntm                          float64
has_availability                                 object
availability_30                                   int64
availability_60                                   int64
availability_90                                   int64
availability_365                                  int64
calendar_last_scraped                            object
number_of_reviews                                 int64
number_of_reviews_ltm                             int64
number_of_reviews_l30d                            int64
first_review                                     object
last_review                                      object
review_scores_rating                            float64
review_scores_accuracy                          float64
review_scores_cleanliness                       float64
review_scores_checkin                           float64
review_scores_communication                     float64
review_scores_location                          float64
review_scores_value                             float64
instant_bookable                                 object
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
dtype: object

In [135]:
review_csv_cleaned.dtypes

listing_id            object
date          datetime64[ns]
dtype: object

In [136]:
review_gz.dtypes

listing_id      int64
id              int64
date           object
reviewer_id     int64
comments       object
dtype: object

In [137]:
# Convert 'listing_id' and 'id' to string, 'date' to datetime, and 'reviewer_id' to string
review_gz['listing_id'] = review_gz['listing_id'].astype(str)  # Change to string
review_gz['id'] = review_gz['id'].astype(str)                  # Change to string
review_gz['date'] = pd.to_datetime(review_gz['date'])         # Change to datetime
review_gz['reviewer_id'] = review_gz['reviewer_id'].astype(str)  # Change to string

In [138]:
calendar_cleaned_2.dtypes

listing_id                object
date              datetime64[ns]
available                   bool
price                    float64
minimum_nights           float64
maximum_nights           float64
dtype: object

In [139]:
hoods_csv.dtypes

neighbourhood_group    object
neighbourhood          object
dtype: object

In [140]:
geo_data.dtypes

neighbourhood            object
neighbourhood_group      object
geometry               geometry
dtype: object

In [141]:
# Suppress scientific notation for better readability
pd.set_option('display.float_format', '{:.2f}'.format)

In [142]:
# Basic preview and stats of listing.csv 
listing_csv_cleaned.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75,-73.99,Entire home/apt,394.97,30,49,2022-06-21,0.28,3,300,0
1,5136,Spacious Family Friendly Duplex w/ Patio + Yard,7378,Rebecca,Brooklyn,Sunset Park,40.66,-73.99,Entire home/apt,215.00,30,4,2023-08-20,0.03,1,71,1
2,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.71,-73.95,Entire home/apt,81.00,30,193,2024-05-18,1.05,1,193,3
3,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kae,Manhattan,East Harlem,40.80,-73.94,Private room,65.00,30,1,2022-06-05,0.04,2,365,0
4,6990,UES Beautiful Blue Room,16800,Cyn,Manhattan,East Harlem,40.79,-73.95,Private room,65.00,30,247,2024-03-06,1.38,1,212,2

In [143]:
listing_csv_cleaned.shape

(37762, 17)

In [144]:
listing_csv_cleaned.describe()

,latitude,longitude,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,37762.00,37762.00,37762.00,37762.00,37762.00,26013,26013.00,37762.00,37762.00,37762.00
mean,40.73,-73.95,224.19,29.16,24.90,2022-04-22 11:27:15.382309120,0.91,53.77,152.42,3.99
min,40.50,-74.25,8.00,1.00,0.00,2011-05-12 00:00:00,0.01,1.00,0.00,0.00
25%,40.69,-73.98,111.66,30.00,0.00,2020-03-13 00:00:00,0.09,1.00,0.00,0.00
50%,40.73,-73.95,170.00,30.00,3.00,2023-09-03 00:00:00,0.32,2.00,126.00,0.00
75%,40.76,-73.93,278.20,30.00,21.00,2024-04-26 00:00:00,1.13,8.00,301.00,3.00
max,40.91,-73.71,100000.00,1250.00,1915.00,2024-07-05 00:00:00,103.53,842.00,365.00,1568.00
std,0.06,0.05,602.83,30.20,58.80,NaN,1.86,161.99,142.80,15.76

In [145]:
# Basic preview and stats of listing.gz.csv 
listing_gz_cleaned.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,picture_url,host_id,host_url,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,20240705150938,2024-07-06,city scrape,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",https://a0.muscache.com/pictures/miso/Hosting-...,2845,https://www.airbnb.com/users/show/2845,Jennifer,2008-09-09,"Woodstock, NY",a few days or more,43%,21%,f,Midtown,7.00,9.00,"['email', 'phone', 'work_email']",t,t,Midtown,Manhattan,40.75,-73.99,Entire rental unit,Entire home/apt,1,1.00,1 bath,0.00,1.00,"[""Smoke alarm"", ""Heating"", ""Bed linens"", ""Oven...",394.97,30,1125,30.00,30.00,1125.00,1125.00,30.00,1125.00,t,13,30,60,300,2024-07-06,49,0,0,2009-11-21,2022-06-21,4.68,4.73,4.63,4.77,4.80,4.81,4.40,f,3,3,0,0,0.28
1,5136,https://www.airbnb.com/rooms/5136,20240705150938,2024-07-05,city scrape,Spacious Family Friendly Duplex w/ Patio + Yard,"We welcome you to stay in our lovely 2 br, 130...",https://a0.muscache.com/pictures/miso/Hosting-...,7378,https://www.airbnb.com/users/show/7378,Rebecca,2009-02-03,"New York, NY",within an hour,100%,100%,f,Greenwood Heights,1.00,5.00,"['email', 'phone']",t,t,Sunset Park,Brooklyn,40.66,-73.99,Entire rental unit,Entire home/apt,4,1.50,1.5 baths,2.00,2.00,"[""Smoke alarm"", ""Heating"", ""Dryer"", ""Bed linen...",215.00,30,730,30.00,30.00,730.00,730.00,30.00,730.00,t,2,11,11,71,2024-07-05,4,1,0,2014-01-02,2023-08-20,4.75,4.75,4.50,5.00,5.00,4.75,4.75,t,1,1,0,0,0.03
2,6848,https://www.airbnb.com/rooms/6848,20240705150938,2024-07-06,city scrape,Only 2 stops to Manhattan studio,Comfortable studio apartment with super comfor...,https://a0.muscache.com/pictures/e4f031a7-f146...,15991,https://www.airbnb.com/users/show/15991,Allen & Irina,2009-05-06,"New York, NY",within an hour,100%,100%,t,Williamsburg,1.00,1.00,"['email', 'phone']",t,t,Williamsburg,Brooklyn,40.71,-73.95,Entire rental unit,Entire home/apt,3,1.00,1 bath,2.00,1.00,"[""Smoke alarm"", ""Heating"", ""Bed linens"", ""Oven...",81.00,30,730,30.00,30.00,1125.00,1125.00,30.00,1125.00,t,0,5,5,193,2024-07-06,193,3,0,2009-05-25,2024-05-18,4.58,4.59,4.86,4.85,4.80,4.68,4.57,f,1,1,0,0,1.05
3,6872,https://www.airbnb.com/rooms/6872,20240705150938,2024-07-05,city scrape,Uptown Sanctuary w/ Private Bath (Month to Month),A charming month-to-month home away from home ...,https://a0.muscache.com/pictures/miso/Hosting-...,16104,https://www.airbnb.com/users/show/16104,Kae,2009-05-07,"New York, NY",within a day,50%,0%,f,East Harlem,2.00,2.00,"['email', 'phone', 'work_email']",t,t,East Harlem,Manhattan,40.80,-73.94,Private room in condo,Private room,1,1.00,1 shared bath,1.00,1.00,"[""Smoke alarm"", ""Fire extinguisher"", ""Heating""...",65.00,30,180,30.00,30.00,180.00,180.00,30.00,180.00,t,30,60,90,365,2024-07-05,1,0,0,2022-06-05,2022-06-05,5.00,5.00,5.00,5.00,5.00,5.00,5.00,f,2,0,2,0,0.04
4,6990,https://www.airbnb.com/rooms/6990,20240705150938,2024-07-06,city scrape,UES Beautiful Blue Room,Beautiful peaceful healthy home,https://a0.muscache.com/pictures/be6cd5b3-9295...,16800,https://www.airbnb.com/users/show/16800,Cyn,2009-05-12,"New York, NY",within an hour,100%,100%,t,East Harlem,1.00,6.00,"['email', 'phone']",t,t,East Harlem,Manhattan,40.79,-73.95,Private room in rental unit,Private room,1,1.00,1 shared bath,1.00,1.00,"[""Smoke alarm"", ""Fire extinguisher"", ""Heating""...",65.00,30,365,30.00,30.00,365.00,365.00,30.00,365.00,t,2,6,6,212,2024-07-06,247,2,0,2009-10-28,2024-03-06,4.88,4.83,4.96,4.96,4.95,4.85,4.84,f,1,0,1,0,1.38

In [146]:
listing_gz_cleaned.shape

(37765, 68)

In [147]:
listing_gz_cleaned.describe()

,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,37765.00,37765.00,37760.00,37760.00,37765.00,37765.00,37765.00,23172.00,31882.00,22988.00,37764.00,37765.00,37765.00,37764.00,37764.00,37764.00,37764.00,37764.00,37764.00,37765.00,37765.00,37765.00,37765.00,37765.00,37765.00,37765.00,26014.00,25997.00,26007.00,25993.00,26002.00,25990.00,25991.00,37765.00,37765.00,37765.00,37765.00,26014.00
mean,20240705150938.00,165968418.56,205.60,284.51,40.73,-73.95,2.76,1.19,1.39,1.64,224.19,29.16,57977.00,28.74,37.22,58068.28,1650347.68,29.75,1074745.62,9.04,22.08,36.03,152.41,24.90,3.99,0.30,4.73,4.77,4.66,4.83,4.83,4.74,4.65,53.76,28.18,23.49,0.08,0.91
std,1.09,180052937.34,819.01,1027.54,0.06,0.05,1.92,0.55,0.94,1.18,602.81,30.20,11051054.71,29.59,60.41,11051200.56,59487977.30,31.76,44670856.63,12.13,24.23,36.38,142.80,58.80,15.76,1.77,0.44,0.43,0.50,0.37,0.40,0.39,0.48,161.98,128.80,102.99,0.61,1.86
min,20240705150938.00,1678.00,1.00,1.00,40.50,-74.25,1.00,0.00,0.00,0.00,8.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.01
25%,20240705150938.00,16627758.00,1.00,1.00,40.69,-73.98,2.00,1.00,1.00,1.00,111.66,30.00,150.00,30.00,30.00,361.00,365.00,30.00,365.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4.65,4.71,4.53,4.81,4.82,4.65,4.54,1.00,0.00,0.00,0.00,0.09
50%,20240705150938.00,82189528.00,2.00,3.00,40.73,-73.95,2.00,1.00,1.00,1.00,170.00,30.00,365.00,30.00,30.00,730.00,1125.00,30.00,934.60,0.00,11.00,28.00,126.00,3.00,0.00,0.00,4.85,4.90,4.81,4.95,4.96,4.85,4.77,2.00,1.00,1.00,0.00,0.32
75%,20240705150938.00,303156931.00,9.00,13.00,40.76,-73.93,4.00,1.00,2.00,2.00,278.20,30.00,1125.00,30.00,30.00,1125.00,1125.00,30.00,1125.00,22.00,49.00,74.00,301.00,21.00,3.00,0.00,5.00,5.00,5.00,5.00,5.00,5.00,4.94,8.00,2.00,2.00,0.00,1.13
max,20240705150938.00,586917430.00,4641.00,9013.00,40.91,-73.71,16.00,15.50,16.00,42.00,100000.00,1250.00,2147483647.00,1250.00,1250.00,2147483647.00,2147483647.00,1250.00,2147483647.00,30.00,60.00,90.00,365.00,1915.00,1568.00,151.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,842.00,842.00,691.00,13.00,103.53

In [148]:
# Basic preview and stats of review.csv
review_csv_cleaned.head()

  listing_id       date
0       2595 2009-11-21
1       2595 2009-12-05
2       2595 2009-12-10
3       2595 2010-04-09
4       2595 2010-05-25

In [149]:
review_csv_cleaned.shape

(923610, 2)

In [150]:
review_csv_cleaned.describe()

                                date
count                         923610
mean   2020-10-14 13:35:58.970994432
min              2009-05-25 00:00:00
25%              2018-10-16 00:00:00
50%              2021-08-15 00:00:00
75%              2023-02-12 00:00:00
max              2024-07-05 00:00:00

In [151]:
# Basic preview and stats of review.gz.csv
review_gz.head()

,listing_id,id,date,reviewer_id,comments
0,2595,17857,2009-11-21,50679,Notre séjour de trois nuits.\r<br/>Nous avons ...
1,2595,19176,2009-12-05,53267,Great experience.
2,2595,19760,2009-12-10,38960,I've stayed with my friend at the Midtown Cast...
3,2595,34320,2010-04-09,71130,"We've been staying here for about 9 nights, en..."
4,2595,46312,2010-05-25,117113,We had a wonderful stay at Jennifer's charming...

In [152]:
review_gz.shape

(940310, 5)

In [153]:
review_gz.describe()

                                date
count                         940310
mean   2020-10-28 08:37:56.287606272
min              2009-05-25 00:00:00
25%              2018-10-28 00:00:00
50%              2021-09-01 00:00:00
75%              2023-02-25 00:00:00
max              2024-07-05 00:00:00

In [154]:
review_gz.dtypes

listing_id             object
id                     object
date           datetime64[ns]
reviewer_id            object
comments               object
dtype: object

In [155]:
# Convert 'listing_id' and 'id' to string, 'date' to datetime, and 'reviewer_id' to string
review_gz['listing_id'] = review_gz['listing_id'].astype(str)  # Change to string
review_gz['id'] = review_gz['id'].astype(str)                  # Change to string
review_gz['date'] = pd.to_datetime(review_gz['date'])         # Change to datetime
review_gz['reviewer_id'] = review_gz['reviewer_id'].astype(str)  # Change to string

In [156]:
# Basic preview and stats of calendar.csv
calendar_cleaned_2.head()

  listing_id       date  available  price  minimum_nights  maximum_nights
0       2595 2024-07-06       True 225.00           30.00         1125.00
1       2595 2024-07-07       True 225.00           30.00         1125.00
2       2595 2024-07-08       True 225.00           30.00         1125.00
3       2595 2024-07-09       True 225.00           30.00         1125.00
4       2595 2024-07-10       True 225.00           30.00         1125.00

In [157]:
calendar_cleaned_2.shape

(13783855, 6)

In [158]:
calendar_cleaned_2.describe()

,date,price,minimum_nights,maximum_nights
count,13783855,13783855.00,13783855.00,13783855.00
mean,2025-01-03 11:53:04.747229184,376.51,29.76,1078709.69
min,2024-07-05 00:00:00,0.00,1.00,1.00
25%,2024-10-04 00:00:00,77.00,30.00,365.00
50%,2025-01-03 00:00:00,130.00,30.00,1000.00
75%,2025-04-05 00:00:00,225.00,30.00,1125.00
max,2025-07-05 00:00:00,100000.00,1250.00,2147483647.00
std,NaN,1903.51,34.33,48090998.40

In [159]:
# Basic preview and stats of neighbourhoods.csv
hoods_csv.head()

  neighbourhood_group neighbourhood
0               Bronx      Allerton
1               Bronx    Baychester
2               Bronx       Belmont
3               Bronx     Bronxdale
4               Bronx   Castle Hill

In [160]:
hoods_csv.shape

(230, 2)

In [161]:
hoods_csv.describe()

       neighbourhood_group neighbourhood
count                  230           230
unique                   5           230
top                 Queens      Allerton
freq                    53             1

In [162]:
# Basic preview and stats of neighbourhoods.geojson

geo_data.head()

,neighbourhood,neighbourhood_group,geometry
0,Bayswater,Queens,"MULTIPOLYGON (((-73.76671 40.61491, -73.76825 ..."
1,Allerton,Bronx,"MULTIPOLYGON (((-73.8486 40.87167, -73.84582 4..."
2,City Island,Bronx,"MULTIPOLYGON (((-73.78282 40.84392, -73.78257 ..."
3,Ditmars Steinway,Queens,"MULTIPOLYGON (((-73.9016 40.76777, -73.90391 4..."
4,Ozone Park,Queens,"MULTIPOLYGON (((-73.83754 40.69136, -73.83108 ..."

In [163]:
geo_data.shape

(233, 3)

In [164]:
geo_data.describe()

,neighbourhood,neighbourhood_group,geometry
count,233,233,233
unique,230,5,233
top,Bayswater,Queens,"MULTIPOLYGON (((-73.766708 40.614911, -73.7682..."
freq,2,55,1

A quick search of the number of NYC neighbourhoods confirms this data looks appropriate.

In [166]:
# Export to pickle for further analysis

review_csv_cleaned.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'review_csv_cleaned.pkl'))

In [167]:
listing_csv_cleaned.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'listing_csv_cleaned.pkl'))

In [168]:
listing_gz_cleaned.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'listing_gz_cleaned.pkl'))